*
!.git*
!README.md
!theme.toml
!package.json
!tsconfig.json
!webpack.config.js
!yarn.lock
!archetypes
!archetypes/**
!config
!config/**
!layouts
!layouts/**
!src
!src/**
!static
!static/**
v.0.1
v.0.1.1

.DS_Store
